{% extends 'base.html' %}

{% block content %}
    <div class="col-md-12">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                {% for point in ancestors %}
                    <li class="breadcrumb-item"><a href="{{ point.get_absolute_url }}">{{ point.name }}</a></li>
                {% endfor %}

                <li class="breadcrumb-item active" aria-current="page">{{ menuPoint }}</li>
            </ol>
        </nav>

        <h1>{{ menuPoint }}</h1>

        {% for article in articles %}
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">{{ article.name }}</h5>
            </div>
            <div class="card-footer text-muted">
                Раздел: <a href="{{ article.menuPoint.get_absolute_url }}">{{ article.menuPoint }}</a>
            </div>
        </div>
        {% empty %}
        <p>Здесь пока ничего не написали...</p>
        {% endfor %}

    </div>
{% endblock %}